{% extends "masterpage_dashboard.html" %}
{% load static %}

{% block content %}


<div class="overlay">
    <div class="modal-formulario">
        <div class="header-form">
            <h2>
                <i class="bi bi-box-seam-fill"></i>
                Gestión de Productos
            </h2>
            <p>
                Completa la información del producto.
            </p>
        </div>

        <div class="card-form">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-grid">
                    {{ form.as_p }}
                </div>

                <div class="botones">
                    <a href="{% url 'listar_productos' %}"
                       class="btn btn-volver">
                        <i class="bi bi-arrow-left"></i>
                        Volver
                    </a>
                    <button type="submit"
                            class="btn btn-guardar">
                        <i class="bi bi-check-circle-fill"></i>
                        Guardar Producto
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}