{% extends "masterpage.html" %}

{% block title %}Clientes - LzApp{% endblock %}

{% load static %}

{% block navbar_actions %}
<ul class="nav justify-content-end align-items-center gap-2">
    <li class="nav-item">
        <a class="nav-link p-1" href="#" title="Mi perfil">
            <i class="bi bi-person-circle fs-4"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link p-1" href="#" title="Carrito de compras">
            <i class="bi bi-basket fs-4"></i>
        </a>
    </li>
</ul>
{% endblock %}