{% load static %}
<footer>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 mb-4 border-md-end">
                <h4>Servicio al cliente</h4>
                <p>Líneas exclusivas</p>
                <p>321-545-0519 / 311-456-987</p>
                <p>Medellin@zulianos.com.co</p>
            </div>
            <div class="col-md-4 mb-4 border-md-end">
                <h4>Síguenos en redes</h4>
                <div class="d-flex justify-content-center flex-wrap gap-3 mt-3">
                    <a href="#"><img src="{% static 'home/media/whatsapp.png' %}" width="48" alt="WhatsApp"></a>
                    <a href="#"><img src="{% static 'home/media/instagram.png' %}" width="48" alt="Instagram"></a>
                    <a href="#"><img src="{% static 'home/media/facebook.png' %}" width="48" alt="Facebook"></a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <h4>Términos y condiciones</h4>
                <p>Ubicación</p>
                <p>Protección de datos personales</p>
                <p>Aviso de privacidad</p>
                <img src="{% static 'home/media/sena.png' %}" alt="Logo SENA" width="45" height="40" class="d-inline-block align-text-top">
            </div>
        </div>
        <p class="text-center m-0 py-3">&copy; Todos los derechos reservados a Lácteos Zulianos</p>
    </div>
</footer>
